// *** Typography ***

$body-bg: $white !default;
$text-color: $black !default;

$base-font-size: 100% !default;
$base-line-height: 1.4 !default;

$body-font-family-sans: sans-serif !default;
$body-font-family-serif: serif !default;
$body-font-weight: 400 !default;
$body-font-style: normal !default;

$paragraph-font-size: 1em !default;

// We use these to control text direction settings
$text-direction: ltr !default;
$default-float: left !default;
$opposite-direction: right !default;
@if $text-direction == ltr {
  $default-float: left;
  $opposite-direction: right;
} @else {
  $default-float: right;
  $opposite-direction: left;
}