/*
This project follows Inverted Triangle CSS (ITCSS) by
Harry "CSS Wizardry" Roberts. Files should be organized
by groups which are described in detail below. As we go
down our list of files we should go from:

  Generic to explicit
  Far-reaching to localised
  Low specificity to high specificity

*/

@charset "UTF-8";

/*
Settings store all variables, config switches, etc.
Split up into logical sections, the smaller and simpler the better.
*/
@import 
  "settings.global",
  "settings.colors",
  "settings.typography",
  "settings.z-layers",
  "settings.media-queries",
  "settings.grid",
  "settings.forms",
  "settings.tables",
  "settings.block-grid",
  "settings.visibility";

/*
Tools store all programic Sass functionality.
If your tooling is simplistic enough, you can do something like:
  tools.mixins
If your tooling is more complex you can split it up like:
  tools.grid
  tools.typography
  etc.
*/
@import 
  "tools.alerts",
  "tools.block-grid",
  "tools.buttons",
  "tools.centering",
  "tools.clearfix",
  "tools.grid",
  "tools.import-once",
  "tools.ranges",
  "tools.text-hide",
  "tools.text-overflow",
  "tools.visibility";

/*
Generic rules are project-agnostic.
These can be copied from any project to the next
*/
@import 
  "generic.normalize",
  "generic.box-sizing",
  "generic.print";

/*
Elements are rules for classless HTML tags.
There can exist no classes at this layer, only further into our triangle.
*/
@import 
  "elements.forms",
  "elements.img",
  "elements.links",
  "elements.lists",
  "elements.page",
  "elements.quote",
  "elements.tables",
  "elements.typography";

/*
Objects are "formless", in other words invisible to the user, no cosmetics
  Eg. wrappers, grid systems, etc.
This is the first layer of classes and should be agnostically named
  Eg. list-inline, ui-list, etc.
*/
@import 
  "objects.block-grid",
  "objects.grid",
  "objects.wrappers";

/*
Components are the stuff of UI. Eg. buttons, special titles, etc.
These get much more explicitly named: eg. products-list, etc.
*/
@import 
  "components.alerts",
  "components.buttons",
  "components.lists",
  "components.tables";

/*
Trumps are overrides, helpers, utilities. They should only affect
one piece of DOM at a time and usually carry !important
*/
@import 
  "trumps.floats",
  "trumps.toggles",
  "trumps.visibility",
  "trumps.wrapper-overrides";