$include-responsive-modal: true !default;

@if $include-responsive-modal {

  .js {
    .modal-overlay {
      display: none;
      position: absolute;
      left: 0;
      top: 0;
      z-index: 99;
      height: 100%;
      width: 100%;
      background-color: rgba(0,0,0,0.8);
    }
    .modal-box {
      display: none;
      position: absolute;
      top: 10%;
      left: 20%;
      width: 60%;
      > .video-container {
        position: relative;
        padding-bottom: 56.25%;
        height: 0;
        overflow: hidden;
        > iframe,
        > object,
        > embed {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
        }
      }
    }
  }

}